<ion-view cache-view="false" ng-controller="TeamController">
  <ion-nav-title>
      {{ team.name }}
  </ion-nav-title>
  <ion-content class="padding do_it">
    
    <div class="container-fluid text-center" >
      <h2 class="white_text">{{ team.main_org.name }}</h2>
      <h4 class="white_text">{{ team.name }}</h4>
      <p ng-hide="is_member">
        Join this team?

      </p>
      <a href="" class="btn btn-lg btn-success" ng-hide="is_member" ng-click="join_team(team.id)">Join {{ event.name }}!</a>

      <div ng-show="is_member">
        You are a member!
      </div>
      <br>
      
    </div>

    <div class="container-fluid">
      <div>
        <h4>Upcoming events</h4>
       
        <ul class="example-animate-container">
          <input type="search" ng-model="q" placeholder="filter clubs..." aria-label="filter friends" class="black_text" />
          <br>
          <li class="animate-repeat clearfix org_list" ng-repeat="event in events | filter:q as results">
            <a href="" class="pull-left">[{{$index + 1}}] {{ event.name }}, Time: {{ event.date | date: 'medium' }}. <br>
              Price: {{ event.price }}
            </a>
            <a href="" ng-click="pay_up(event.id, event.price)" class="pull-right btn-xs btn-primary">Pay up</a>
          </li>
          <li class="animate-repeat" ng-if="orgs.length == 0">
            <strong>No results found...</strong>
          </li>
        </ul>
      </div>
    </div> <!-- end of container-fluid -->
    
  </ion-content>
</ion-view>

