
  <ion-view view-title="Login">
    <ion-content>
      
    <div class="container-fluid">
      <img src="img/corins.jpg" class="img-responsive subs_app_logo" alt="Responsive image">
    </div>

    <div class="row">

      <div class="col-xs-2">

      </div>
      <div class="col-xs-8">
        <form class="form-horizontal login_form" ng-controller="LoginController"
                ng-submit="login_submit()"
                method="post" enctype="application/x-www-form-urlencoded">

          <div class="form-group">
            <label class="col-sm-2">Email: </label>
            <div class="col-sm-10">
              <input type="email" name="email" ng-model="login_form_data.email" class="form-control" id="user_email" placholder:'email'>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->

          <div class="form-group">
            <label class="col-sm-2">Password: </label>
            <div class="col-sm-10">
              <input type="password" name="password" ng-model="login_form_data.password" class="form-control user_password" id="user_password"  placholder:'password'>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Sign in" class="btn btn-default btn btn-success btn-lg login">
              
            </div>  <!-- end of col-sm-offset-2 col-sm-10 -->
          </div> <!-- end of form-group -->
          <div class="form-group text-center">
            <a href="#/register" class="btn btn-default btn btn-info btn-lg login">Register</a>
            
          </div>

          <div class="message">
            {{ errorMessage.message }}
            Click <a href="#/register">here</a> to register
          </div>
        </form>
      </div> <!-- end of col-xs-8 -->


    </div> <!-- end of container-fluid -->

    </ion-content>
  </ion-view>





