<ion-view view-title="Edit details" ng-controller="EditUserController">
  <ion-nav-title>
      Edit details
  </ion-nav-title>
  <ion-content class="padding">
    <div class="container-fluid text-center">
      <h1 class="white_text">Edit your details</h1>

      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <form class="form-horizontal" 
                ng-submit="edit_user()" 
                method="post" enctype="application/x-www-form-urlencoded"
                name="update_user_form">

          <div class="form-group">
            <label class="col-sm-2">First name: </label>
            <div class="col-sm-10">
              <input type="text" name="firstName" ng-model="user_data.firstName" class="form-control" value="{{ name }}" placholder:'First name' required>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->

          <div class="form-group">
            <label class="col-sm-2">Last name: </label>
            <div class="col-sm-10">
              <input type="text" name="lastName" ng-model="user_data.lastName" class="form-control user_last_name"   placholder:'Last name' required>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->

          <div class="form-group">
            <input type="submit"  value="Update details" class="btn btn-default btn btn-success btn-lg">
            
          </div> <!-- end of form-group text-center -->

        </form>    
        
        
        <p class="bg-primary">You have {{ tokens }} tokens left. <br> Click the button below if you would like to add more</p>   
        <div class="message">
          {{ mes }}
          
        </div> <!-- end of message -->
        </div> <!-- end of col.xs.12 -->
        
      </div>
      <div class="col-xs-2"></div>
    </div> <!-- end of container-fluid -->

    <!-- Button trigger modal -->
    <div class="col-xs-12 text-center">
      <a class="btn btn-primary btn-info text-center" href="#/stripe-form" >
        Purchase tokens
      </a>
    </div>
    <!-- Modal -->
    

  </ion-content>
</ion-view>

<!-- http://learn.ionicframework.com/formulas/making-modals/ -->

   
  

<!-- http://embed.plnkr.co/uE47aZ/preview -->