<ion-view cache-view="false">
  <ion-nav-title>
      {{ USER.email }}
  </ion-nav-title>
  <ion-content class="padding">
    <ion-spinner></ion-spinner>
    <div class="container-fluid text-center" >
     <h1 class="white_text">Your teams</h1> 
    </div>

    <div class="container-fluid">
      <ul class="example-animate-container">
        <input type="search" ng-model="q" placeholder="filter teams..." aria-label="filter friends" class="black_text" />
        <br>
        <li class="animate-repeat clearfix org_list" ng-repeat="team in teams | filter:q as results">
          <a href="" ng-click="select_team(team.id)">[{{$index + 1}}] {{ team.main_org.name }}-- {{ team.name }}
          </a><br>          
        </li>
        <li class="animate-repeat" ng-if="teams.length == 0">
          <strong>No results found...</strong>
        </li>
      </ul>
        
    </div> <!-- end of container-fluid -->
    
    <div class="message">
        
        
    </div>
  </ion-content>
</ion-view>

